$cl-blue: #1a8cff;
$cl-gray: #999;
$cl-white: #f8f8f8;
$cl-dark-black: #000;
$cl-black: #333;
$cl-light-gray: #bbb;
$cl-teal-blue: #46b8da;
$min-width-mobile: 320px;
$min-width-tablet: 540px;
$min-width-desktop: 720px;
