@media only screen and (min-width: 720px) {
  .header-item {
    background: white;
    border-bottom-color: #46b8da;
  }
  .header {
    background: white;
    border-bottom: 1px solid #46b8da;
  }
  .hamberger-btn {
    display: none;
  }
}
